
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/jquery")
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/layout")
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Poppins:600&display=swap" rel="stylesheet">
    @RenderSection("scripts",false)
</head>
<body>
    @RenderBody()

    <div class="wrapper fadeInDown">
        <div id="formContent">


            @RenderSection("heading", true)

            <div>
                @RenderSection("fields", true)
            </div>


            <div id="formFooter">
                @RenderSection("footer", false)
            </div>

        </div>
    </div>
</body>
</html>
